{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}

        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
<h2>
    <a href="{% url 'articles:list' %}">Articles List</a>
</h2>
{% if user.is_authenticated %}
    <nav>
        <ul>
            <li>
                <form class="logout-link" action="{% url 'users:logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">logout</button>
                </form>
            </li>
            <li>
                <a href="{% url 'articles:create' %}">create-article</a>
            </li>
        </ul>
    </nav>
{% else %}
    <li>
        <a href="{% url 'users:login' %}">login</a>
    </li>
    <li>
        <a href="{% url 'users:signup' %}">signup</a>
    </li>
{% endif %}
<div>
    {% block content %}

    {% endblock %}
</div>
</body>
</html>